body{
    background-color: rgb(246, 149, 255);
}
.container{
    width: 400px;
    min-height: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(250, 200, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
    text-align: center;
    color: rgb(102, 0, 51);
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 51, 153);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover{
    background-color: rgb(255, 102, 204) ;
}
#msg{
    text-align: center;
}