.btns {
    background-color: rgb(205, 162, 228);
    padding: 10px;
    font-size: 14px;

    -fx-background-color: rgb(205, 162, 228);
    -fx-padding: 10px;
    -fx-font-size: 14px;

    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
}

.background {
    background-color: rgb(233, 212, 245);
    padding:  20px 0px 0px 20px;

    -fx-background-color: rgb(233, 212, 245);
    -fx-padding: 20px 0px 0px 20px;
}

.textspace {
    font-size: 18px;
    padding: 10px;

    -fx-pref-height: 80px;
    -fx-font-size: 18px;
    -fx-padding: 10px;
}